html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2f3035;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-page,
section {
  margin-bottom: 80px;
}

.header-page-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px; /* Можно минимювысоту. */
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}

.menu-item {
  display: inline-block;
}

.menu-item + .menu-item {
  padding-left: 50px;
}

.header-page-information {
  display: flex;
  align-items: center;
}

.place {
  width: 265px;
  margin-right: 60px; /* Добавлено резервместо для более длинного адреса */
  padding-left: 30px;
  position: relative;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.place::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../images/meta-map.svg);
  position: absolute;
  top: -10px;
  left: 0;
}

.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-item {
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket-number {
  position: absolute;
  top: -5px;
  right: -14px;
  width: 20px;
  height: 20px;
  background-color: #1c62cd;
  border-radius: 50%;
  font-family: "SFProDisplay-Medium", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.slick-slide img {
  display: inline;
}

.header-page-bottom-inner {
  background-color: #f0f0f4;
  padding: 15px 0;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
}

.navgation-link {
  text-transform: capitalize;
  padding: 15px 0;
  position: relative;
}

.navgation-link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  border-bottom: 3px solid #1c62cd;
  width: 0;
  height: 3px;
  visibility: hidden;
  transition: all 0.5s;
}

.navgation-link:hover {
  color: #000;
}

.navgation-link:hover::before {
  transition: all 0.5s;
  width: 100%;
  visibility: visible;
  right: 0;
}

.promo-inner {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.promo-slider {
  max-width: 870px;
}

.promo-slider-list-btn {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.promo-slider-list-btnprev {
  left: 22px;
}

.promo-slider-list-btnnext {
  right: 15px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 2px solid #bcbcbc;
  border-radius: 50%;
  background-color: transparent;
  font-size: 0;
}

.slick-active li button {
  background-color: #fff;
  outline: none;
}

.promo-slider-img {
  object-fit: cover;
  min-height: 400px;
}

.sale {
  max-width: 265px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.header-sale {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale-label {
  width: 90px;
  height: 30px;
  background: #1c62cd;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 20px;
}

.sale-price {
  padding: 7px 7px 0 0;
}

.sale-price-new {
  font-family: Barlow, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #1c62cd;
  padding-right: 20px;
  position: relative;
  margin-bottom: 7px;
}

.sale-price-new::after {
  content: "";
  display: block;
  width: 15px;
  height: 18px;
  background-image: url("../images/rouble-blue.svg");
  position: absolute;
  top: 4px;
  right: 0;
}

.sale-price-old {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #c4c4c4;
  position: relative;
  text-align: right;
  padding-right: 20px;
  background-image: url("../images/oblique-line.svg");
  background-repeat: no-repeat;
  background-position: bottom 4px right 15px;
}

.sale-price-old::after {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  background-image: url("../images/rouble-old.svg");
  position: absolute;
  top: 6px;
  right: 6px;
}

.sale-figure {
  margin: 0;
  padding: 0;
}

.sale-figcaption {
  margin: 0;
  padding: 0;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #2f3035;
}

.sale-img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.footer-sale {
  background: #f0f0f4;
  border-radius: 3px;
  text-align: center;
  padding: 26px 0;
  margin-top: 18px;
}

.footer-sale-date {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #1c62cd;
}

.footer-sale-text {
  font-size: 18px;
  text-align: center;
  color: #2f3035;
}

.search-tabs {
  display: flex;
  margin-bottom: 25px;
}

.search-tabs-item {
  padding: 11px 28px 12px;
  font-size: 20px;
}

.search-tabs-item-active.tab-active {
  border-radius: 5px;
  background-color: #f0f0f4;
  font-weight: 700;
}

.search-content-item {
  display: none;
}

.search-content-item.tab-content-active {
  display: block;
}

.search-content-form {
  display: flex;
}

.search-content-input {
  width: calc(100% - 145px);
  background: #f0f0f4;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
  border: 0;
  outline: 0;
  padding-left: 20px;
  color: #656464;
}

.search-content-input::placeholder {
  color: #656464;
}

.search-content-button {
  width: 145px;
  height: 50px;
  background: #1c62cd;
  border-radius: 3px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
}

.categories {
  margin-bottom: 50px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories-item {
  width: 370px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-bottom: 30px;
}

.categories-link {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px 16px;
  transition: all 0.3s;
}

.categories-link:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories-link:hover .categories-title {
  color: #1c62cd;
}

.categories-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories-title {
  font-family: Barlow, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  color: #2f3035;
  transition: all 0.3s;
}

.categories-text {
  font-weight: normal;
  font-size: 14px;
  color: #c4c4c4;
  position: relative;
  display: inline-block;
}

.categories-text::after {
  content: url(../images/Back.svg);
  padding-left: 3px;
}

.categories-img {
  width: auto;
  height: 101px;
}

.section-title {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #2f3035;
  margin-bottom: 25px;
}

/* .tab-content {
  display: none;
}

.tab-content.tab-content-active {
  display: block;
} */

.popular-tabs {
  margin-bottom: 24px;
}

.popular-tab {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #48494d;
  margin-right: 50px;
  position: relative;
}

/* .popular-tab::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-bottom: 3px solid #1c62cd;
  width: 0;
  height: 3px;
  visibility: hidden;
  transition: all 0.5s;
}

.popular-tab:hover::before {
  transition: all 0.5s;
  width: 100%;
  visibility: visible;
  right: 0;
} 
 */

.tab-active {
  position: relative;
}

.tab-active::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-bottom: 3px solid #1c62cd;
  width: 100%;
  height: 3px;
}

.popular-content-list {
  /*   display: flex;
  flex-direction: row;
  justify-content: space-between; */
  margin-top: 35px;
}

.popular-content-item {
  width: 22.75% !important;
  min-height: 430px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  margin-left: 13px;
  margin-right: 13px;
}

.popular-img {
  margin: 50px 35px 0 35px;
}

.love-add {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 19px;
  cursor: pointer;
}

.love-add::before {
  content: "";
  display: block;
  width: 25px;
  height: 22px;
  background-color: #ffffff;
  background-image: url(../images/love.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: inherit;
}

.love-add-active::before {
  background-image: url(../images/love-blue.svg);
}

.popular-icon {
  width: 22px;
  height: 24px;
}

.popular-name {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #2f3035;
  padding: 25px 20px 14px;
}

.popular-price {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #2f3035;
  position: relative;
  margin-bottom: 30px;
}

.popular-content-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-radius: 3px;
}

.popular-link:hover .popular-price,
.popular-link:hover .popular-name {
  color: #1c62cd;
}

.popular-click-text {
  width: 230px;
  height: 60px;
  position: absolute;
  top: 110px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  /* opacity: 0.9; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #2f3035;
  opacity: 0;
  transition: all 0.3s;
}

.popular-link:hover .popular-click-text {
  opacity: 1;
}

.popular-basket {
  width: 60px;
  height: 40px;
  background: #1c62cd;
  border-radius: 10px 0px 0px 0px;
  border: 0;
  outline: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.basket-img {
  width: 30px;
  height: 23px;
  vertical-align: bottom;
}

.popular-sale::before {
  content: "sale";
  position: absolute;
  width: 63px;
  height: 25px;
  left: 0;
  top: 0;
  background: #1c62cd;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.popular-content-item.not-available .popular-price,
.popular-content-item.not-available .popular-basket {
  display: none;
}

.popular-content-item.not-available .popular-no,
.popular-content-item.not-available .link-message {
  display: block;
}

.popular-no {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #2f3035;
  padding: 7px 0 13px;
  display: none;
}

.link-message {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1c62cd;
  text-align: center;
  display: inherit;
  text-align: center;
  margin-bottom: 25px;
  text-decoration: underline;
  display: none;
}

.further {
  display: block;
  width: 252px;
  height: 50px;
  background: #f0f0f4;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #2f3035;
  margin: 0 auto;
  margin-top: 30px;
}

.popular-content-list-btn {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.popular-content-list-btnprev {
  left: -220px;
}

.popular-content-list-btnnext {
  right: -150px;
}
